p {
    margin: 0px;
}

body
{
    background-color: forestgreen;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.selected
{
    box-shadow: 0 0 10px 4px blue;
}

.invalid
{
    box-shadow: 0 0 10px 4px red;
}

.changed
{
    box-shadow: 0 0 10px 4px gold;
}

.smallCard {
    width: 11%;
    height: auto;
}

.card
{
    width: 24%;
    height: auto;
    float: left;
}

.right
{
    width: 31%;
    height: auto;
    padding-right: 4px;
}

.left
{
    width: 31%;
    height: auto;
}

.deckPlayer
{
    width: 12%;
    margin-left: 8%;
}


.cardsTop
{
    max-width: 824px;
    margin: auto;
    height: 140px;
}
.cardsBot
{
    max-width: 824px;
    margin: auto;
    height: 140px;
}
.cardsMid
{
    max-width: 812px;
    margin: auto;
    height: 300px;
}
.divLarge
{
    width: 24%;
}

.divSmall
{
    width: 12%;
}

#op1 {
    float: left;
}
#op2 {
    padding-left: .5%;
    float: left;
}
#op3 {
    padding-left: .5%;
    float: left;
}
#op4 {
    padding-left: .5%;
    float: left;
}
#op5 {
    padding-left: .5%;
    float: left;
}

.deckOpponent {
    width: 12%;
    margin-right: 8%;
    float: left;
}

#opD {
    width: 91.5%;
    margin-left: 10%;
}

#pl1 {
    float: right;
}
#pl2 {
    float: right;
    margin-left: .5%;
}
#pl3 {
    float: right;
    margin-left: .5%;
}
#pl4 {
    float: right;
    margin-left: .5%;
}
#pl5 {
    float: right;
    margin-left: .5%;
}
#plD {
    float: right;
    margin-right: 4.5%;
    margin-left: 8%;
}

@media only screen and (max-width: 700px) {
    .cardsTop, .cardsBot {
        height: 115px;
    }

    .cardsMid {
        height: 251px;
    }
}

@media only screen and (max-width: 500px) {
    .cardsTop, .cardsBot {
        height: 82px;
    }

    .cardsMid {
        height: 179px;
    }
}

@media only screen and (max-width: 350px) {
    .cardsTop, .cardsBot {
        height: 57px;
    }

    .cardsMid {
        height: 124px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}