body
{
    background-color: forestgreen;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.selected
{
    box-shadow: 0 0 10px 4px blue;
}

.invalid
{
    box-shadow: 0 0 10px 4px red;
}

.changed
{
    box-shadow: 0 0 10px 4px gold;
}

.smallCard
{
    width: 100px;
    height: auto;
}

.card
{
    width: 200px;
    height: auto;
}

.right
{
    width: 258px;
    height: auto;
    float: left;
    padding-right: 4px;
}

.left
{
    width: 258px;
    height: auto;
    float: right;
}

.deckPlayer
{
    width: 100px;
    margin-left: 50px;
    float: right;
}

.deckOpponent
{
    width: 100px;
    margin-right: 50px;
    float: left;
}
.cardsTop
{
    width: 824px;
    margin: auto;
}

.cardsBot
{
    width: 824px;
    margin: auto;
}
.cardsMid
{
    width: 812px;
    margin: auto;
}
.divLarge
{
    width: 204px;
}

.divSmall
{
    width: 104px;
}